body {
   margin: 0;
    font-family: 'open sans';
}
/*HEADER*/
header{
    position: fixed;
    display: flex;
    background-color: #ffffff;
    width: 100%;
    height: 60px;
    align-items: center;
}
header .logo{
    display: flex;
    padding-left: 3%;
}
header .logo img{
    display: flex;
    height: 30px;
}
.menuheader{
    padding-right: 20px;
    display: none;
    justify-content: flex-end;
    width: 100%;
}
.menuheader div{
    height: 20px;
    width: 20px;
    background-color: black;
}
header nav{
    display: flex;
    font-weight: 100;
    justify-content: flex-end;
    width: 100%;
}
header nav ul{
    padding-right: 3%;
    display: flex;
    width: 360px;
    justify-content: space-around;
}
header nav ul li{
    display: flex;
}
header nav ul li a{
    text-decoration: none;
    color: Gray;
    text-transform: uppercase;
    font-size: 13px;
}
/*HEADER*/
/*SECTION VIDEO*/
.video img{
    width: 100%;
    padding-top: 55px;
}
/*SECTION VIDEO*/
/*MAIN - SOBRE A MUNGANGA*/
main{
    
    padding-top: 100px;
    width: 75%;
    margin-bottom: 80px;
    margin: 0 auto;
}
main h1{
    letter-spacing: 10px;
    margin: 0 auto;
    font-size: 50px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}
main h2{
    letter-spacing: 5px;
    color: darkslategrey;
    font-weight: 100;
    font-size: 100%;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
}
main div{
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
    width: 780px;
}
main p{
    color: darkslategrey;
    line-height: 25px;
    font-weight: 100;
    font-size: 90%;
    width: 360px;
}
/*MAIN - SOBRE A MUNGANGA*/
/*DIV IMAGEMSS*/
.imagemss img{
    margin-top: 80px;
    width: 100%;
}
/*DIV IMAGEMSS*/
/*SECTION PORTIFOLIO*/
.portifolio{
    width: 80%;
    margin: 0 auto;
}
.portifolio h1{
    letter-spacing: 10px;
    color: black;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
}
.portifolio h2{
        letter-spacing: 5px;
    color: darkslategrey;
    font-weight: 100;
    font-size: 100%;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
     padding-bottom: 100px;
}
.portifolio ul{
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.portifolio img{
    display: flex;
    height: 201px;
}
/*SECTION PORTIFOLIO*/
/*SECTION CLIENTES*/
.clientes{
    letter-spacing: 10px;
    width: 80%;
    margin: 0 auto;
}
.clientes h2{
    color: darkslategrey;
    font-weight: 100;
    font-size: 25px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
     padding-top: 80px;
}
.clientes ul{
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}
.clientes img{
    display: flex;
    margin: 30px;
}
/*SECTION CLIENTES*/
/*ADDRESS*/
address{
    color: white;
    padding-bottom: 80px;
    padding-top: 80px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    background-image: url(imagens/fundoaddres.png);
    justify-content: space-between;
    font-style: normal;
}
address div{
    width: 25%;
    display: flex;
    flex-direction: column;
}
address div h2{
    padding-bottom: 50px;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-size: 100%;
}
address div p{
    font-size: 90%;
}
/*ADDRESS*/
/*FORMULÁRIO*/
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background-color: black;
    padding: 130px;
}
form label{
    letter-spacing: 1px;
    font-size: 70%;
}
form input{
    font-size: 85%;
    outline:none;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid darkslategray;
    margin-top:  20px;
    margin-bottom:  40px;
    width: 100%;
    color: white;
    background-color: black;
}
form div input{
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 80%;
    cursor: pointer;
    padding-top: 13px;
    padding-bottom: 13px;
    text-transform: uppercase;
    color: gray;
    width: 10%;
    border: 1px solid darkslategray;
}
/*FORMULÁRIO*/
/*RODAPÉ*/
footer{
    padding-top: 20px;
    padding-bottom: 20px;
    color: darkslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer a{
    padding: 5px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: 60%;
    color: darkslategray;
    text-transform: uppercase;
    text-decoration: none;
}
footer div{
    padding-bottom: 20px;
}
footer p{
    font-size: 80%;
    color: gray;
}
/*RODAPÉ*/



@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (max-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    header nav{
        display: none;
    }
    .menuheader{
        display: flex;
    }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /*git add.*/
    /*git commit -m "comentário da atualização"*/
    /*git push origin master*/